$navbar-default-bg: #272822;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {

    float: left;
    font-size: 1.3em;
    color: #f92672;
    text-transform: uppercase;
    letter-spacing: 0.4px;

}

#logo:hover {

    color: #66d9ef;
    text-decoration: none;

}

#linkTo {

    float: left;
    font-size: 1em;
    color: #f92672;
    text-transform: capitalize;
    letter-spacing: 0.2px;

}

#linkTo:hover {

    color: #66d9ef;
    text-decoration: none;

}

.center {

    text-align: center;

}

.jumbotron {

    background-image: asset-url('ripple.jpg');
    background-size: cover;
    height: 550px;

}

.jumbotron h1 {

    color: 	#f92672;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;

}

.btn-xlarge {

    font-size: 1.4em;
    background-color: #272822;

}

footer {

    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #272822;
    color: #272822;

}

.article-meta-details {

    border-top: 1px solid #eaeaea;
    margin-top: 10px;

}

.article-actions {

    border-top: 1px solid #eaeaea;
    padding-top: 5px;

}

.description {

    margin-top: 0;

}

.article-title {

    font-weight: bold;
    font-size: 1.3em;

}

.article-body {

    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;

}

.listing {

    list-style: none;
    padding-left: 0;

}

footer a:hover {

    color: #66d9ef;

}

footer small {

    float: left;

}

footer ul {

    float: right;
    list-style: none;

}

footer ul li {

    float: left;
    margin-left: 15px;

}