<div class="container">
    <footer class ="footer">
        <small>
        Copyright &copy;
        by Jhony
        </small>
        <nav>
            <ul>
                <li> <%= link_to "About", about_path %> </li>
            </ul>
        </nav>
    </footer>
</div>